<footer>
	<div class="content-padding">
		<div class="footer-content">
		<p>Copyright &copy; Rahul Gudivada</p>

		<div class="social-media-icons">
			<a href="https://github.com/Gudi-Rahul"><i class="fa fa-bolt"></i></a>
			<a href="mailto:rahulgudivada11@gmail.com"><i class="fa fa-magic"></i></a>
		</div>

		</div>
	</div>
</footer>